body {
    background: linear-gradient(90deg, #121212, #1a1a1a, #121212);
    background-size: 200% 200%;
    animation: moverFundo 5s infinite linear;
    color: #fff;
    margin-top: 70px;
    padding-right: 870px;
    margin-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes moverFundo {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.cor_branca2{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-top: 10px 0;
}

.cor_verde{
    color: hsl(118, 84%, 50%);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center; 
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 10px
} 


.equipe {
    width: 34%; 
    position: absolute; 
    right: 15%; 
    border-radius: 10px;
}

.botão{
  background-color: hsl(118, 84%, 50%);
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 450px;
  padding: 15px 26px; 
  font-size: 16px; 
  line-height: 1;  
  border-radius: 7px; 
  border: none; 
  white-space: nowrap; 
  cursor: pointer; 
  transition: 0.3s ease-in-out;
}

.botão:hover {
    box-shadow: 0 0 5px hsl(118, 84%, 50%), 0 0 10px hsl(118, 89%, 39%), 0 0 15px hsl(118, 93%, 27%);
    transform: scale(1.05); 
}

.button2{
    background-color: hsl(118, 84%, 50%);
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 450px;
    padding: 15px 26px; 
    font-size: 16px; 
    line-height: 1;  
    border-radius: 7px; 
    border: none; 
    white-space: nowrap; 
    cursor: pointer; 
    transition: 0.3s ease-in-out;
  }

  .button2:hover {
    box-shadow: 0 0 5px hsl(118, 84%, 50%), 0 0 10px hsl(118, 89%, 39%), 0 0 15px hsl(118, 93%, 27%);
    transform: scale(1.05); 
}


.dedicatoria {
    text-align: center;
    margin-top: 50px; 
    padding: 20px;
    margin-top: auto; 
}

.texto_dedicatoria {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    padding: 15px;
    text-align: justify; 
    width: 90%; 
    margin: 0 auto; 
}

  